{
 padding: 0;
	
}
#cabecalho{
	position:relative;
	background: linear-gradient(to right, #c72992, #6c14d0);
	background-clip: text;
   -webkit-text-fill-color: transparent;
}
input{
	display: block;
	margin:10 px;
	padding: 10px;
	color: #b3b3b3;
	width: 200px;
	border-radius: 10px;
}